# Hugo default output directory
/public/
/resources/_gen/
/assets/jsconfig.json
hugo_stats.json

/exampleSite/public/

# OS Files
.DS_Store
Thumbs.db

# IDE specific files
.idea
.vscode
*.swp
*.swo 
idea.md
