{{ define "main" }}
<div class="note-container">
  <article class="note-content">
    <div class="note-header">
      <h1>{{ .Title }}</h1>
      {{ if .Date }}
      <div class="note-date">
        {{ .Date.Format "January 2, 2006" }}
      </div>
      {{ end }}
    </div>
    
    <div class="metadata-chips">
      {{ if .Params.category }}
      <span class="metadata-chip">
        {{ .Params.category }}
      </span>
      {{ end }}
      
      {{ if .Params.growth }}
      <span class="metadata-chip">
        {{ .Params.growth }}
      </span>
      {{ end }}
    </div>

    <div class="content">
      {{ $content := .RawContent }}
      {{ $wikilinksContext := dict "content" $content "page" . }}
      {{ $processedContent := partial "features/wikilinks.html" $wikilinksContext }}
      {{ $processedContent | markdownify }}
    </div>
    
    <div class="note-footer">
      {{ partial "backlinks.html" . }}
    </div>
  </article>
</div>
{{ end }}
