<div class="notes-list{{ if .Site.Params.viewToggle.enabled }} notes-container notes-{{ default "list" .Site.Params.viewToggle.defaultView }}{{ end }}">
  {{ range (where .Site.RegularPages "Section" "notes").ByDate.Reverse }}
    <div class="note-item" data-category="{{ .Params.category }}" data-growth="{{ .Params.growth }}">
      {{ if .Params.cover }}
        <div class="note-cover">
          <img src="{{ .Params.cover }}" alt="{{ .Title }} cover">
        </div>
      {{ end }}
      <div class="note-title">
          <a href="{{ .RelPermalink }}">
            {{ if .Site.Params.statusIndicators.enabled }}
              <span class="status-indicators" data-position="{{ default "prefix" .Site.Params.statusIndicators.position }}">
                {{ range $key, $value := .Site.Params.statusIndicators.types }}
                  {{ if (index $.Params $key) }}
                    <span class="status-indicator" {{ if $.Site.Params.statusIndicators.showTooltip }}title="{{ $value.tooltip }}"{{ end }}>
                      {{ $value.icon }}
                    </span>
                  {{ end }}
                {{ end }}
              </span>
            {{ end }}
            {{ partial "display-title.html" . }}
          </a>
      </div>
      {{ if .Params.category }}
        <div class="note-meta">
          <span class="category">{{ .Params.category }}</span>
        </div>
      {{ end }}
    </div>
  {{ end }}
</div>
