{{ $mainJs := resources.Get "js/main.js" | js.Build }}
{{ $hoverJs := resources.Get "js/hover-preview.js" | js.Build }}
{{ $viewToggleJs := resources.Get "js/view-toggle.js" | js.Build }}

{{ if site.Params.hoverPreviews.enabled }}
<script src="{{ $hoverJs.RelPermalink }}"></script>
{{ end }}

{{ if site.Params.viewToggle.enabled }}
<script src="{{ $viewToggleJs.RelPermalink }}"></script>
{{ end }}

<script src="{{ $mainJs.RelPermalink }}"></script>

{{ $theme := resources.Get "js/theme-toggle.js" | resources.Minify }}
<script src="{{ $theme.RelPermalink }}"></script> 